SURVIVAL_VERSION=1.21.4
SURVIVAL_GAME_PORT=12345
SURVIVAL_RCON_PORT=12346
CREATIVE_VERSION=1.21.4
CREATIVE_GAME_PORT=12347
CREATIVE_RCON_PORT=12348
TZ=Pacific/Auckland
RCON_PASSWORD=CHANGEME
BACKUP_INTERVAL=24h
NFS_SERVER_ADDRESS=home
NFS_SHARE=/mnt/path/to/nfs/share
RESTIC_PASSWORD=CHANGEME
PRUNE_RESTIC_RETENTION=--keep-daily 7 --keep-weekly 4 --keep-monthly 6
ALERTS_WEBHOOK=https://discord.com/api/webhooks/...
ALERTS_FILE=/path/to/file
SURVIVAL_RCON_CMDS_ON_CONNECT=
CREATIVE_RCON_CMDS_ON_CONNECT=
